[Unit]
Description=YOLO FastAPI Detection Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/yoloServiceNEW
Environment="PATH=/home/ubuntu/yoloServiceNEW/venv/bin"
Environment="S3_BUCKET_NAME=maisa-polybot-images"
ExecStart=/home/ubuntu/yoloServiceNEW/venv/bin/uvicorn app:app --host 0.0.0.0 --port 8080 --workers 1
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
